.container{
    display: flex;
    flex-direction: column;
    padding: 0px 128px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

.logo{
    display: flex;
    gap: 16px;
}

.links{
    display: flex;
    gap: 16px;
}