*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 32px;
}

.logo{
    display: flex;
    gap: 16px;
}

.logo p{
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.links, a{
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
}

.container{
    background-color: #1F2937;
}

body{
    margin: 0;
    padding: 0;
}

.hero h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container h1{
    display: flex;
    width: 300px;
    height: 80px;
}

.hero-container p{
    width: 400px;
}

.photo-container{
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 80px 100px;
    flex-shrink: 0;
    margin-top: 40px;
    color: #E5E7EB;
}

.mid-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 150px;
    padding-top: 16px;
    padding-bottom: 58px;
}

.hero button{
    margin-top: 10px;
    padding: 3px 24px;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
    color: #E5E7EB;
}

.content-container{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.photo-section{
    display: flex;
}

.photo-1{    
    display: flex;
    flex-direction: column;    
    width: 256px;
}

.photo-box{
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.quote{
    text-align: center;
    margin: 0;
    width: 200px;
    color: gray;
}

.h2{
    font-size: 36px;
    color: #1F2937;
}

.testimonial-section{
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
}

.quote-2{
    font-size: 36px;
    width: 900px;
    color: grey;
}
.autor{
    text-align: end;
    font-size: 28px;
    color: #1F2937;
    font-weight: bold;
}